# Homework 4

In [ ]:
# Author: Herat Zaveri
# Date: 2020/02/21
# CS301-006, Professor Watson
# HW#3 Solution
# Solutions for problems 1-5 with relevant code
# master

In [1]:
import pandas as pd
import numpy as np

In [2]:
def data_reader(data_path):
    
    try:
        with open(data_path , 'r') as f:
            frame = pd.read_csv(data_path)
            #print(frame.shape)
            return frame
        
    except IOError:
        print ('Error while reading file, please try again')
        return None

In [3]:
df = data_reader("C:\\Users\\Herat\\OneDrive\\Documents\\2019-coronavirus-dataset-01212020-01262020\\2019_nCoV_20200121_20200206.csv")

Problem 1

In [4]:
def get_percent_nans(df,column_name):
       
    empty = df[column_name].isnull().sum()
            
    #print(empty)
    
    column = df[column_name]
    count = 0
    for value in column:
        count+=1
    
    #print(count)
    scaled = empty/count
    
    return (scaled*100)

In [5]:
for col in df.columns:
    print('The \"{}\" column has {:.2f}% empty values'.format(col,get_percent_nans(df,col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

Problem 2

In [6]:
for col in df.columns:
    if "Death" in col:
        print(df.loc[df[col].idxmax()]['Country/Region'])

Mainland China

Problem 3

In [7]:
print(df.loc[df['Suspected'].idxmax()]['Country/Region'])

Hong Kong

In [48]:
#print(df['Country/Region'].unique())

Problem 4

In [20]:
recovered = df.nlargest(2,'Recovered')
print(recovered.iloc[-1]['Country/Region'])

Mainland China

Problem 5 & 6

In [21]:
import pycountry as pc

def get_Continent(country):
    
    #Dictionary For problem 5
    continentMap = {'Europe':['France','Italy','Sweden','Germany','Spain','Belgium','Finland','UK'],
                    'Asia':['Thailand','Japan','India','Hong Kong', 'Vietnam','Sri Lanka',
                            'Singapore','Malaysia','Taiwan','Macau','Mainland China', 
                            'United Arab Emirates','Nepal','South Korea','Russia','Philippines'],
                    'Australia':['Australia'],
                   'Africa':['Ivory Coast'],
                   'North America':['United States', 'Canada','Mexico'],
                   'South America':['Brazil','Colombia']
                   }        
    
    for continent in continentMap:
        #print(continent)
        if country in continentMap[continent]:
            return continent

In [22]:
print(get_Continent('UK'))

Europe

In [38]:
#country = df['Country/Region'].unique()
#for c in country:
    #print(get_Continent(c))

Problem 7

In [23]:
country = df['Country/Region']
continents = []
for c in country:
    continents.append(get_Continent(c))

df['Continent'] = continents
df.tail(10)

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
1867,Hunan,Mainland China,1/21/2020,1.0,NaN,NaN,NaN,Asia
1868,Guizhou,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1869,Liaoning,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1870,Chongqing,Mainland China,1/21/2020,5.0,NaN,NaN,NaN,Asia
1871,Hong Kong,Hong Kong,1/21/2020,NaN,117.0,NaN,NaN,Asia
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

Problem 9

In [24]:
sort_By_Continent = df.sort_values('Continent')
continent_group = sort_By_Continent.groupby('Continent')
continent_group['Confirmed'].agg(Total_Confirmed_Cases = (np.sum)).astype(int)

               Total_Confirmed_Cases
Continent
Africa                             1
Asia                          304960
Australia                        238
Europe                           395
North America                    273
South America                      0